.header {
    background-color: #151515;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header--logo {
    width: 50px;
    height: 50px;
    background: #000;
    border-radius: 50%;
}

.header--search--form--label input{
    background-color: #1a1a1a;
    color: #fff;
    border: 0;
    padding: 10px;
    border-radius: 5px 0 0 5px;
    width: 300px;
    outline: 0px;
}

.header--search--form--submit {
    background-color: #1a1a1a;
    color: #fff;
    border: 0;
    padding: 10px;
    border-radius: 0px 5px 5px 0px;
    cursor: pointer;
} 
